## Sorting Pandas Dataframe

In [1]:
# Load data
import numpy as np
import pandas as pd

df = pd.read_csv('online_retail.csv')
print(type(df))

# preview your data
df.head()

<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom

In [2]:
df['invoiceAmount'] = df['Quantity']*df['UnitPrice']
df['tax'] = (0.8*df['invoiceAmount'])  # 8% tax rate of invoiceAmount

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoiceAmount,tax
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom,15.30,12.240
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom,22.00,17.600
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272

## Sorting data by single column

In [12]:
# sort df by invoiceAmount

df.sort_values('invoiceAmount',ascending=False,axis=0)   # by default ascending=True

# axis=0 means u move across rows so can perform operation on column, here sort
# this will not reflect in original df, this is just an o/p of this method.
# in case u do inplace=true, this statement will not give o/p here but reflect in original df when u print it.
# Generally avoid inplace=true

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoiceAmount,tax
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,09-12-2011 9.15,2.08,16446.0,United Kingdom,168469.60,134775.680
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,18-01-2011 10.01,1.04,12346.0,United Kingdom,77183.60,61746.880
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,10-06-2011 15.28,649.50,15098.0,United Kingdom,38970.00,31176.000
15017,537632,AMAZONFEE,AMAZON FEE,1,07-12-2010 15.08,13541.33,NaN,United Kingdom,13541.33,10833.064
299982,A563185,B,Adjust bad debt,1,12-08-2011 14.50,11062.06,NaN,United Kingdom,11062.06,8849.648
...,...,...,...,...,...,...,...,...,...,...
43702,C540117,AMAZONFEE,AMAZON FEE,-1,05-01-2011 9.55,16888.02,NaN,United Kingdom,-16888.02,-13510.416
524602,C580605,AMAZONFEE,AMAZON FEE,-1,05-12-2011 11.36,17836.46,NaN,United Kingdom,-17836.46,-14269.168
222681,C556445,M,Manual,-1,10-06-2011 15.31,38970.00,15098.0,United Kingdom,-38970.00,-31176.000
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,18-01-2011 10.17,1.04,12346.0,United Kingdom,-77183.60,-61746.880
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,09-12-2011 9.27,2.08,16446.0,United Kingdom,-168469.60,-134775.680

## Sorting data by multiple column - need to pass list for multiple col's
remember default parameters for these sort command like ascending etc and to take care of whether to not use or use inplace command

In [21]:
cols = ['Country','Quantity']  # arranging country in asc and Quantity in desc order
df.sort_values(cols,ascending=[True, False])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoiceAmount,tax
321304,565145,22492,MINI PAINT SET VINTAGE,1152,01-09-2011 13.50,0.55,12415.0,Australia,633.60,506.880
468139,576394,23084,RABBIT NIGHT LIGHT,960,15-11-2011 10.32,1.79,12415.0,Australia,1718.40,1374.720
321303,565145,21915,RED HARMONICA IN BOX,720,01-09-2011 13.50,1.06,12415.0,Australia,763.20,610.560
193922,553546,15036,ASSORTED COLOURS SILK FAN,600,17-05-2011 15.42,0.72,12415.0,Australia,432.00,345.600
45536,540267,22492,MINI PAINT SET VINTAGE,576,06-01-2011 11.12,0.55,12415.0,Australia,316.80,253.440
...,...,...,...,...,...,...,...,...,...,...
323444,565303,21558,SKULL LUNCH BOX WITH CUTLERY,1,02-09-2011 12.17,2.55,NaN,Unspecified,2.55,2.040
323447,565303,22196,SMALL HEART MEASURING SPOONS,1,02-09-2011 12.17,0.85,NaN,Unspecified,0.85,0.680
323451,565303,23084,RABBIT NIGHT LIGHT,1,02-09-2011 12.17,2.08,NaN,Unspecified,2.08,1.664
323452,565303,22549,PICTURE DOMINOES,1,02-09-2011 12.17,1.45,NaN,Unspecified,1.45,1.160
323457,565303,23127,FELTCRAFT GIRL NICOLE KIT,1,02-09-2011 12.17,4.95,NaN,Unspecified,4.95,3.960

In [19]:
df.sort_index()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoiceAmount,tax
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom,15.30,12.240
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom,22.00,17.600
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34,16.272
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12.50,0.85,12680.0,France,10.20,8.160
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12.50,2.10,12680.0,France,12.60,10.080
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12.50,4.15,12680.0,France,16.60,13.280
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12.50,4.15,12680.0,France,16.60,13.280
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12.50,4.95,12680.0,France,14.85,11.880

## 2 major sort functions
sort_values() : You use this to sort the Pandas DataFrame by one or more columns.<br>
sort_index() : You use this to sort the Pandas DataFrame by the row index