## Pandas (name derived from panel data) to explore your data. (structured/tabular data)
1. Python Data Analysis Library - its an intuitive library, open-source, built over numpy
2. When we work with tabular data, pandas help us explore, clean & process data.
3. two fundamental objects (data structure) in pandas-series (1 column) and dataframe(made of multiple series)
4. You can extract 1 column from df and create series.

### Structured vs Unstructured data
1. Structured (Tabular) data
2. Unstructured (which cannot be put in a tabular form) e.g text docs,audio files, image
image can still be defined as structured data cz we r still using arrays but it comes under category of unstructured data.

### Difference b/w numpy array and pandas dataframe
In numpy array we had no way to identify that what does row indicate and what are columns, unless we had explanation in comments.

In pandas dataframe you have automatically generated row index and column names/labels. You can even rename them as suitable.

In [2]:
import pandas as pd

pd.__version__

'1.3.4'

## Creating Dataframe
Generally u will have a file or db from where u need to read a file into pd df

### Method 1 - from list of lists create df - here list of 3 lists

In [6]:
# Generally u will have a file or db from where u need to read a file into pd df

score = [["stud-a",34],["stud-b",78],["stud-c",100]]
df_score = pd.DataFrame(data=score)  # in numpy we used np.array, here constructor is pd.Dataframe

In [7]:
print(df_score)
print(type(df_score))

        0    1
0  stud-a   34
1  stud-b   78
2  stud-c  100
<class 'pandas.core.frame.DataFrame'>

In [9]:
## YOu can also specify index, column names when creating df
df_score1 = pd.DataFrame(data=score,columns=['names','marks'],index=['1001','1002','1003'])
df_score1

       names  marks
1001  stud-a     34
1002  stud-b     78
1003  stud-c    100

### Method 2 from dictionary create df

In [12]:
score_dict = {'name':['stud-a','stud-b','stud-c'],
         'marks':[34,78,100]}
df_score2 = pd.DataFrame(data=score_dict)
df_score2

# in dictionary, automatically key names will be taken as column names, but u can change.

     name  marks
0  stud-a     34
1  stud-b     78
2  stud-c    100