## Data Aggregation using Pandas
## In this way using below functions, pandas help us to get insights about our data.

1. unique()
2. value_counts()
3. df.describe() - whole dataset
4. numerical summation functions mean(), median(), sum() - for columns
5. groupby()
6. pivot_table()

In [1]:
# Load data
import numpy as np
import pandas as pd

df = pd.read_csv('online_retail.csv')
print(type(df))

# preview your data
df.head()

<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom

### Aggregation for single column

In [3]:
# find unique products in data
(df['Description'].unique())

# display in form of list
items = list(df['Description'].unique())
#print(items)    # separated by a comma
print('\ntotal unique items',len(items))

total unique items 4224

In [4]:
# find unique countries

df['Country'].unique()
# change to list
countries = list(df['Country'].unique())
print(countries)
print('\n Total unique countries', len(countries))

['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria', 'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore', 'Lebanon', 'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community', 'Malta', 'RSA']

 Total unique countries 38

In [5]:
# Find total no. of customers by finding unique id's of customers

customers = list(df['CustomerID'].unique())
print('total unique customer', len(customers))

total unique customer 4373

In [6]:
# If you want to know unique items along with their counts (transactions) can use value_counts() function.

# e.g how many orders from each unique country
print(df['Country'].value_counts())

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

In [9]:
# calculate total, mean and median of quantity
# although u can use numpy mean, median but here v r learning pandas df so these
# operations median, mean can be directly applied on df column.

# using pandas
print('median', df['Quantity'].median())
# using numpy
print('median', np.median(df['Quantity']))
print('mean/avg quantity', df['Quantity'].mean())
print('std', df['Quantity'].std())
print('total quantity', df['Quantity'].sum())

median 3.0
median 3.0
mean/avg quantity 9.55224954743324
std 218.08115784986612
total quantity 5176450

### Aggregation for multiple columns

In [14]:
# calculate median for unit price and quantity

cols = ['Quantity','UnitPrice']
print('medians for multiple columns\n',df[cols].median())
print('\nmean for multiple columns\n',df[cols].mean())

medians for multiple columns
 Quantity     3.00
UnitPrice    2.08
dtype: float64

mean for multiple columns
 Quantity     9.552250
UnitPrice    4.611114
dtype: float64

In [15]:
# adding 1 column to dataframe
df['invoiceAmount'] = df['Quantity']*df['UnitPrice']

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoiceAmount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34

### Using groupby clause
it needs some function with which will aggregating the data e.g. sum,mean etc

In [23]:
# group by clause
# to find for every item what is total invoice_amount/sales
## value_counts can give for every item what is count(number of txn's) but not total amt
# for such cases u can use groupby()

df.groupby(by='Description').sum()

                                Quantity  UnitPrice  CustomerID  invoiceAmount
Description
 4 PURPLE FLOCK DINNER CANDLES       144     100.67    631941.0         290.80
 50'S CHRISTMAS GIFT BAG LARGE      1913     185.28   1687133.0        2341.13
 DOLLY GIRL BEAKER                  2448     271.38   2072298.0        2882.50
 I LOVE LONDON MINI BACKPACK         389     405.80   1089559.0        1628.17
 I LOVE LONDON MINI RUCKSACK           1       4.15     14646.0           4.15
...                                  ...        ...         ...            ...
wrongly marked carton 22804         -256       0.00         0.0           0.00
wrongly marked. 23343 in box       -3100       0.00         0.0           0.00
wrongly sold (22719) barcode         170       0.00         0.0           0.00
wrongly sold as sets                -600       0.00         0.0           0.00
wrongly sold sets                   -975       0.00         0.0           0.00

[4223 rows x 4 columns]

In [24]:
df.groupby(by='Description').sum()['invoiceAmount']

Description
 4 PURPLE FLOCK DINNER CANDLES     290.80
 50'S CHRISTMAS GIFT BAG LARGE    2341.13
 DOLLY GIRL BEAKER                2882.50
 I LOVE LONDON MINI BACKPACK      1628.17
 I LOVE LONDON MINI RUCKSACK         4.15
                                   ...
wrongly marked carton 22804          0.00
wrongly marked. 23343 in box         0.00
wrongly sold (22719) barcode         0.00
wrongly sold as sets                 0.00
wrongly sold sets                    0.00
Name: invoiceAmount, Length: 4223, dtype: float64

### Using Pivot table
find country wise total invoice amount
Note-
groupby or pivot table, in some applications either one can be used.
pivot tables are more flexible.

So technique used to summarize data by transferring rows to columns is pivot_table. (example below)

In [31]:
df.pivot_table(columns='Country',values='invoiceAmount',aggfunc='sum')
## here columns synonym to by in groupby

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
invoiceAmount,137077.27,10154.32,548.4,40910.96,1143.6,3666.38,20086.29,12946.29,707.72,18768.14,...,1002.31,131.17,9120.39,54774.58,36595.91,56385.35,1730.92,1902.28,8187806.364,4749.79