## Dataframe Slicing and Filtering

In [1]:
# Load data
import pandas as pd

df = pd.read_csv('online_retail.csv')
print(type(df))

# preview your data
df.head()

<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom

In [8]:
# Subset of data with specific columns, Quantity and Unit price.

col_list = ['Quantity','UnitPrice']  # if more than 1 col need to extract, pass list
subset1 = df[col_list]
print(subset1.head())    # inner [] for list & outer [] for accessing element

   Quantity  UnitPrice
0         6       2.55
1         6       3.39
2         8       2.75
3         6       3.39
4         6       3.39

In [10]:
# Indexing & Slicing using iloc (index location)
df_slice1 = df.iloc[0:10,0:4]
print(df_slice1)

  InvoiceNo StockCode                          Description  Quantity
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

In [13]:
# Filtering
# fetch all records where quantity > 2000 (we need only true records)
print(df['Quantity'] > 2000)

# use this condition inside df[] to get output rows
df[df['Quantity'] > 2000]

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: Quantity, Length: 541909, dtype: bool

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
4945,536830,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2880,02-12-2010 17.38,0.18,16754.0,United Kingdom
32671,539101,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,2400,16-12-2010 10.35,0.94,16029.0,United Kingdom
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,11-01-2011 12.55,2.10,15749.0,United Kingdom
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,18-01-2011 10.01,1.04,12346.0,United Kingdom
74614,542504,37413,NaN,5568,28-01-2011 12.03,0.00,NaN,United Kingdom
74615,542505,79063D,NaN,2560,28-01-2011 12.04,0.00,NaN,United Kingdom
80742,543057,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2592,03-02-2011 10.50,0.21,16333.0,United Kingdom
87631,543669,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,2400,11-02-2011 11.22,0.94,16029.0,United Kingdom
91772,544152,18007,ESSENTIAL BALM 3.5g TIN IN ENVELOPE,2400,16-02-2011 12.10,0.06,14609.0,United Kingdom
97432,544612,22053,EMPIRE DESIGN ROSETTE,3906,22-02-2011 10.43,0.82,18087.0,United Kingdom
115807,546139,84988,?,3000,09-03-2011 16.35,0.00,NaN,United Kingdom
125282,547037,21967,PACK OF 12 SKULL TISSUES,2160,20-03-2011 10.37,0.25,14101.0,United Kingdom
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,18-04-2011 13.20,2.10,15749.0,United Kingdom
201149,554272,21977,PACK OF 60 PINK PAISLEY CAKE CASES,2700,23-05-2011 13.08,0.42,12901.0,United Kingdom
206121,554868,22197,SMALL POPCORN HOLDER,4300,27-05-2011 10.52,0.72,13135.0,United Kingdom
220843,556231,85123A,?,4000,09-06-2011 15.04,0.00,NaN,United Kingdom
263885,560040,23343,came coded as 20713,3100,14-07-2011 14.28,0.00,NaN,United Kingdom
270885,560599,18007,ESSENTIAL BALM 3.5g TIN IN ENVELOPE,3186,19-07-2011 17.04,0.06,14609.0,United Kingdom
291249,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,04-08-2011 18.06,1.45,12931.0,United Kingdom
421601,573003,23084,RABBIT NIGHT LIGHT,2400,27-10-2011 12.11,2.08,14646.0,Netherlands
421632,573008,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,4800,27-10-2011 12.26,0.21,12901.0,United Kingdom
433788,573995,16014,SMALL CHINESE STYLE SCISSOR,3000,02-11-2011 11.24,0.32,16308.0,United Kingdom
437480,574294,21915,RED HARMONICA IN BOX,2100,03-11-2011 15.47,1.06,16333.0,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,25-11-2011 15.57,0.00,13256.0,United Kingdom
511421,579498,23084,RABBIT NIGHT LIGHT,2040,29-11-2011 15.52,1.79,12798.0,Japan
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,09-12-2011 9.15,2.08,16446.0,United Kingdom

### OPerators

for OR operator need to use symbol |

Note<br>
if multiple conditions in filter need to enclose each condition in () brackets.

In [28]:
# fetch records where quantity is exact 1000 and 2000 (isin and or operator)

# Note- if multiple conditions in filter need to enclose each condition in () brackets.
df[(df['Quantity'] == 1000) | (df['Quantity'] == 2000)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
19149,537841,16014,SMALL CHINESE STYLE SCISSOR,1000,08-12-2010 15.10,0.32,13848.0,United Kingdom
52262,540699,POST,NaN,1000,11-01-2011 9.32,0.00,NaN,United Kingdom
52710,540815,21175,GIN + TONIC DIET METAL SIGN,2000,11-01-2011 12.55,1.85,15749.0,United Kingdom
130911,547519,16014,SMALL CHINESE STYLE SCISSOR,1000,23-03-2011 14.46,0.32,16308.0,United Kingdom
136537,547966,DOT,NaN,1000,28-03-2011 15.49,0.00,NaN,United Kingdom
160545,550461,21175,GIN + TONIC DIET METAL SIGN,2000,18-04-2011 13.20,1.69,15749.0,United Kingdom
177702,552172,16014,SMALL CHINESE STYLE SCISSOR,2000,06-05-2011 13.03,0.32,16308.0,United Kingdom
286765,562040,62018,SOMBRERO,1000,02-08-2011 10.00,1.25,17553.0,United Kingdom
311391,564272,16014,SMALL CHINESE STYLE SCISSOR,2000,24-08-2011 10.52,0.32,16308.0,United Kingdom
319753,564871,21497,FANCY FONTS BIRTHDAY WRAP,1000,31-08-2011 10.46,0.34,17949.0,United Kingdom
331716,566028,16014,SMALL CHINESE STYLE SCISSOR,1000,08-09-2011 12.58,0.32,13848.0,United Kingdom
369675,569086,22197,POPCORN HOLDER,1000,30-09-2011 11.58,0.72,17949.0,United Kingdom
380505,569815,85099B,JUMBO BAG RED RETROSPOT,1000,06-10-2011 11.53,1.79,15838.0,United Kingdom
422750,573114,20713,wrongly coded 23343,1000,27-10-2011 15.36,0.00,NaN,United Kingdom
454472,575582,85099B,JUMBO BAG RED RETROSPOT,1000,10-11-2011 11.55,1.79,16986.0,United Kingdom
488313,577810,22197,POPCORN HOLDER,1000,22-11-2011 8.44,0.72,17949.0,United Kingdom
519822,580170,22197,POPCORN HOLDER,1000,02-12-2011 11.39,0.72,17949.0,United Kingdom

In [33]:
# fetch records where quantity is exact 1000 and 2000 (isin and or operator)
# isin operator will take a list as input

print(df['Quantity'].isin([1000,2000]))

df_sub = df[df['Quantity'].isin([1000,2000])]

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: Quantity, Length: 541909, dtype: bool

In [34]:
df_sub.shape

(17, 8)

In [35]:
# read file into df using read_csv and store file in df using to_csv
df_sub.to_csv('df_sub.csv')   # contains only filtered records

### loc is label based and iloc is index based.

### Ques-Fetch product description and quantity where quantity is greater than 3000 (loc)

In [44]:
# Method 1  #first slicing df & then out of those select only 2 columns
a = df[df['Quantity'] > 3000][['Description','Quantity']]
print(a)

# Method 2  #using loc, 1st argument is condition & 2nd argument is col's that r required
df.loc[df['Quantity'] > 3000,['Description','Quantity']]

                                Description  Quantity
52711    FAIRY CAKE FLANNEL ASSORTED COLOUR      3114
61619        MEDIUM CERAMIC TOP STORAGE JAR     74215
74614                                   NaN      5568
97432                 EMPIRE DESIGN ROSETTE      3906
160546   FAIRY CAKE FLANNEL ASSORTED COLOUR      3114
206121                 SMALL POPCORN HOLDER      4300
220843                                    ?      4000
263885                  came coded as 20713      3100
270885  ESSENTIAL BALM 3.5g TIN IN ENVELOPE      3186
421632    WORLD WAR 2 GLIDERS ASSTD DESIGNS      4800
502122       ASSTD DESIGN 3D PAPER STICKERS     12540
540421          PAPER CRAFT , LITTLE BIRDIE     80995

                                Description  Quantity
52711    FAIRY CAKE FLANNEL ASSORTED COLOUR      3114
61619        MEDIUM CERAMIC TOP STORAGE JAR     74215
74614                                   NaN      5568
97432                 EMPIRE DESIGN ROSETTE      3906
160546   FAIRY CAKE FLANNEL ASSORTED COLOUR      3114
206121                 SMALL POPCORN HOLDER      4300
220843                                    ?      4000
263885                  came coded as 20713      3100
270885  ESSENTIAL BALM 3.5g TIN IN ENVELOPE      3186
421632    WORLD WAR 2 GLIDERS ASSTD DESIGNS      4800
502122       ASSTD DESIGN 3D PAPER STICKERS     12540
540421          PAPER CRAFT , LITTLE BIRDIE     80995