___
<a href='http://www.kgptalkie.com'><img src='../kgptalkie_strips.png'/></a>
___

<center><em>Copyright by KGPTalkie</em></center>
<center><em>For free ML tutorials, visit us at <a href='http://www.kgptalkie.com'>www.kgptalkie.com</a> and <a href='http://www.youtube.com/kgptalkie'>www.youtube.com/kgptalkie</a> </em></center>

# Python Crash Course

## Number Data Type

In [1]:
# Summary
#-------------

### Number data type - int (whole no's), float (decimal no's)
### type(3-2) will give int
### type (5/2) will give float
### int(5/2) = 2
### // symbol is for floor division e.g. 5//2 = 2
### 5%2 = 1, modulus operation gives remainder
### If float number gets into the operation of any mathematical operation then final result will be a float number.

In [2]:
2 + 2

4

In [3]:
type(2)

int

In [4]:
2 * 3

6

In [5]:
2*3

6

In [6]:
2 -3

-1

In [7]:
type(2-3)

int

In [8]:
abs(2-3)

1

In [9]:
2/3

0.6666666666666666

In [10]:
5/2

2.5

In [11]:
type(5/2)

float

In [12]:
int(5/2)

2

In [13]:
5//2    # // for floor division

2

In [14]:
5%2     # modulus for remainder

1

In [15]:
2**3

8

In [16]:
3**2

9

In [17]:
1 + 1.0  # An integer & any operation with floating will result in final output of floating.

2.0

In [18]:
5//2.0

2.0

## String Data Type

In [19]:
# Summary
#-------------

### string can be represented by a single quote or a double quote

In [20]:
# ' '
# " "

In [21]:
'this is string'

'this is string'

In [22]:
type('this is string')    # single quote

str

In [23]:
type("this is string")    # double quote

str

In [24]:
string = 'this is string'

In [25]:
string

'this is string'

In [26]:
string = " this is double quote "

In [27]:
string                                 # without print

' this is double quote '

In [28]:
print(string)                         # with print

 this is double quote

In [29]:
string = 'this is KGP Talkie"s lesson'

In [30]:
print(string)

this is KGP Talkie"s lesson

In [31]:
string = "this is KGP Talkie's lesson"
print(string)

this is KGP Talkie's lesson

In [32]:
string = 'this is KGP Talkie\'s lesson'     # can use \ 
print(string)

this is KGP Talkie's lesson

In [33]:
string = r"this is KGP Talkie's lesson"   # r stands for raw
print(string)

this is KGP Talkie's lesson

In [34]:
string = "this is KGP Talkie's" + ' 2nd ' +  "lesson"
print(string)

this is KGP Talkie's 2nd lesson

In [35]:
string = "this is KGP Talkie's {}nd lesson".format(2)
print(string)

this is KGP Talkie's 2nd lesson

## Variable  Assignment

In [36]:
# Summary
#-------------

### variable name can start with a-z or even an underscore but can't start with a number
### float is a reserved keyword and u should not use reserved keywords for a variable name
### Egs of reserved keywords in python, # float, int, double, for, if, else etc.

In [37]:
var_name = 2

In [38]:
varname_ = 2

In [39]:
_varname = 2

In [40]:
varname12 = 2

In [41]:
var_name

2

In [42]:
varname_

2

In [43]:
varname12

2

In [44]:
type(var_name)

int

In [45]:
float_var = 2.0

In [46]:
type(float_var)

float

In [47]:
a = 1
b = 3.9
c = a + b
c

4.9

In [48]:
type(c)

float

In [49]:
float = 2  # float is a reserved keyword, will be assigned a value of 2 however

In [50]:
float

2

In [51]:
del float

In [52]:
var_name

2

In [53]:
# Before using float as reserved keyword again as below, u will have to delete the float variable u declared above

float(var_name)

2.0

## List Data Structure

In [54]:
# Summary
#-------------

### [] bracket is used for a list
### () bracket is used for a tuple
### {} bracket is used for a set and dictionary
### A list is a collection of various data types e.g. int, string, float etc
### APPEND - To add item to a list using append. append always adds to the end of the list.
### INSERT - To add item at specific position can use insert function by specifying index at which u want to insert
### POP - To remove item from a list using pop. pop default behaviour is to remove from end of list.
### pop can also remove from any position in the list if you specify the index.
### REMOVE - The remove() method removes the first occurrence of a specified value from the list.
### DEL - the del statement can be used to remove an item at a specific index or to delete a slice of 
### elements from a list.
### CLEAR - The clear() method removes all items from the list, resulting in an empty list.

In [55]:
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [56]:
x = [1, 2, 'three', 4.0]

In [57]:
x

[1, 2, 'three', 4.0]

In [58]:
x.append(5)
x

[1, 2, 'three', 4.0, 5]

In [59]:
x.pop()

5

In [60]:
x.insert(0, 'One')

In [61]:
x

['One', 1, 2, 'three', 4.0]

In [62]:
x[:2]       # slicing a list

['One', 1]

## Set Data Structure

In [63]:
# Summary
#-------------

### A set can be defined using {}
### A set will only include unique values as seen in example below where set s is created
### A set can be a combination of various data types
### A set is not an ordered collection, so u can't access elements by index position like s[1], u will get an error
### A set is an unordered collection of unique elements and individual elements are immutable as also unordered.
### When we say a set is mutable, we mean that we can change the set by adding or removing elements, 
### not that we can change the elements themselves.

In [64]:
l = [1, 1, 2, 2]

In [65]:
l

[1, 1, 2, 2]

In [66]:
type(l)

list

In [67]:
s = {1, 1, 2, 2}

In [68]:
type(s)

set

In [69]:
s

{1, 2}

In [70]:
set(l)     # convert list to a set

{1, 2}

In [71]:
s = {1, 'one', 2.0, 'three'}
s

{1, 2.0, 'one', 'three'}

In [72]:
# s[1] 

# this will give error as set is not an ordered collection so can't access element by index

In [73]:
# You can check if an element is in a set using the in keyword

if 1 in s:
    print("yes")

yes

In [74]:
# U can iterate over elements of set using for loop

for item in s:
    print(item)

1
2.0
three
one

In [75]:
l = [1, 'one', 2.0, 'three']
l

[1, 'one', 2.0, 'three']

In [76]:
l[1]    # in list can access elements by index as it is an ordered collection

'one'

In [77]:
s1={5,3,4}
type(s)

set

In [78]:
#s1[0] = 7
#s1

#TypeError: 'set' object does not support item assignment

In [79]:
my_set = {1, 2, 3}
my_set.remove(1)  # Removing an element
my_set.add(9)  # Adding an element
my_set

{2, 3, 9}

## Tuple Data Structure

In [80]:
# Summary
#-------------

### A tuple can be defined using ()
### Tuple is ordered so elements can be accessed via index
### Tuple is immutable, elements cannot be changed, added or removed

In [81]:
t = (1, 'two', 'three')

In [82]:
t

(1, 'two', 'three')

In [83]:
t[0]

1

In [84]:
t[2]

'three'

In [85]:
# t[0] = 2 will give error as tuple' object does not support item assignment (it is immutable) can't be changed

In [86]:
t[:1]

(1,)

In [87]:
t[-2:]     # last 2 values r printed

('two', 'three')

## Dictionary Data Structure

In [88]:
# Summary
#-------------

### A dictionary can be defined using {}. It has a key-value pair.
### key:value
### A dict can be a combination of any data types
### It is not mandatory that the keys of a dictionary be in quotes, but it is necessary if the key is a string.
### Dictionary keys can be of any immutable type, such as strings, numbers, or tuples.
### While dictionary keys must be immutable, dictionary values can be mutable.
### dict is mutable, elements can be changed, added or removed

In [89]:
d = {'key1': 'value1', 'key2':'value2'}
type(d)

dict

In [90]:
d

{'key1': 'value1', 'key2': 'value2'}

In [91]:
d = {1:'One', 'two': 2}
d

{1: 'One', 'two': 2}

In [92]:
d.keys()

dict_keys([1, 'two'])

In [93]:
d.values()

dict_values(['One', 2])

In [94]:
d.items()

dict_items([(1, 'One'), ('two', 2)])

In [95]:
d['three'] = 3.0

In [96]:
d

{1: 'One', 'two': 2, 'three': 3.0}

In [97]:
d['three'] = 3

In [98]:
d

{1: 'One', 'two': 2, 'three': 3}

## Boolean data type and Comparison Operator

In [99]:
# Summary
#-------------

### 2 types of boolean data types - True(1) and False(0)
### comparison operators <, >, ==, !=, >=, <=
### comparison operations will result in either true or false.
### None is a special data type in Python. It represents the absence of a value or a null value. 
### None is a built-in constant in Python representing the absence of a value. The type of None is NoneType.
### NaN (Not a Number) is used to represent undefined or unrepresentable numerical results. NaN is of type float.

In [100]:
True

True

In [101]:
False

False

In [102]:
1>2     # comparison operator

False

In [103]:
2>1

True

In [104]:
10 == 12

False

In [105]:
10 == 10

True

In [106]:
10 != 11

True

In [107]:
None == None

True

In [108]:
type(None)

NoneType

In [109]:
None != None

False

In [110]:
'string' == 'string'

True

In [111]:
'string ' == 'string'

False

## Logical Operator

In [112]:
# Summary
#------------

### logical operators- AND, OR
### Truthy: Values that evaluate to True in a boolean context (e.g., non-zero numbers, non-empty collections).
### Falsy: Values that evaluate to False in a boolean context (e.g., None, False, 0, empty collections).
### The or operator returns the first truthy value it encounters or the last value if no truthy value is found.

In [113]:
10 or 8

10

In [114]:
0 or 1   # returns the first truthy value it encounters

1

In [115]:
5 or 4

5

In [116]:
2 or 3

2

In [117]:
print(0 or None)    # returns the first truthy value it encounters or the last value if no truthy value is found.

None

In [118]:
print(0 or None or 0)

0

In [119]:
(1 == 2) or (1 == 1)

True

In [120]:
(1 == 2) and (1 == 1)

False

In [121]:
False and True

False

In [122]:
True and True

True

In [123]:
False and False

False

In [124]:
(1 > 2) and (3 > 2) or ( 7 > 5)

True

In [125]:
(1 > 2) and ((3 > 2) or ( 7 > 5))

False

# If, Else, Elif

In [126]:
# Summary
#------------

# if, elif, else

In [127]:
if (1 > 2):               # (1 > 2) returns false so no result printed
    print('True')

In [128]:
if False:
    print('this is true')

In [129]:
(1 > 2)

False

In [130]:
if (2>1):                  # (2 > 1) returns true so result printed
    print('True')

True

In [131]:
(2>1)

True

In [132]:
if True:
    print('True')

True

In [133]:
if (1>2):
    print('1>2')
else:
    print('1 is not greater than 2')

1 is not greater than 2

In [134]:
age = 19

if age >= 20 and age < 40:
    print('I am young')
elif age >= 40:
    print('I am old')
else:
    print('I am kid')

I am kid

## For and While Loop

In [135]:
# Summary
#------------

# while & for loop to iterate over string, list, tuple, set, dict etc & perform any operation on each element
# range is a number collection
# WHILE needs an increment operator while iterating
# FOR doesn't need increment operator, it automatically iterates over the iterable picking next element by itself

In [136]:
l = [1, 'one', 2.0, 'three']
l

[1, 'one', 2.0, 'three']

In [137]:
l[0]

1

In [138]:
l[1]

'one'

In [139]:
for item in l:                 # iterate on list
    print(item, type(item))

1 <class 'int'>
one <class 'str'>
2.0 <class 'float'>
three <class 'str'>

In [140]:
t = (1, 'two', 'three')
t

(1, 'two', 'three')

In [141]:
for item in t:            # iterate on tuple
    print(item)

1
two
three

In [142]:
#for item in 2:
#    print(item)

# error, 'int' object is not iterable

In [143]:
range(2)

range(0, 2)

In [144]:
for item in range(2):  
    print(item)

0
1

In [145]:
i = 0
while i < len(l):
    print(l[i])
    i = i + 1

1
one
2.0
three

In [146]:
len(l)

4

In [147]:
4 < 4

False

## Lambda Method

In [148]:
# Summary
#------------

# custom function definitions
# difference b/w print and return, print only displays, if need to store value for later use, need to use return
# A lambda function in Python is a small anonymous function defined with the lambda keyword.

In [149]:
def method1(x):     # x is parameter
    x  = x ** 2
    print(x)

In [150]:
method1(4)

16

In [151]:
def method2(x):
    x = x ** 2
    return x

In [152]:
method2(4)

16

In [153]:
res1 = method1(4)

16

In [154]:
res2 = method2(4)

In [155]:
print(res1)         # since method1 func uses print hence no return can be stored in a variable when calling function
type(res1)

None

NoneType

In [156]:
print(res2)
type(res2)

16

int

In [157]:
type(res2)

int

In [158]:
# Syntax of lambda function

# A lambda function in Python is a small anonymous function defined with the lambda keyword
# *Lambda functions can have any number of arguments but only one expression*
# They are often used for short-term operations or when defining simple functions that are used 
# only once or a few times

# Syntax-> lambda arguments: expression

In [159]:
add1 = lambda x: x + 10

add1(2)

12

In [160]:
x = lambda y: y ** 2

In [161]:
x(4)

16

In [162]:
x = lambda a,b: a * b

In [163]:
x(20, 3)    # round bracket

60

# Other Resources
|  ML Course | Description |
|:---|:---|
| [**Data Visualization in Python Masterclass™: Beginners to Pro**](https://bit.ly/udemy95off_kgptalkie) |  Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Python for Machine Learning: A Step-by-Step Guide**](https://bit.ly/ml-ds-project) | Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Python for Linear Regression in Machine Learning**](https://bit.ly/regression-python) | Learn to build Linear Regression models using Python and its libraries like Scikit-Learn. |
| [**Introduction to Spacy 3 for Natural Language Processing**](https://bit.ly/spacy-intro) | Learn to build Natural Language Processing models using Python and its libraries like Spacy. |
| [**Advanced Machine Learning and Deep Learning Projects**](https://bit.ly/kgptalkie_ml_projects) | Learn to build Advanced Machine Learning and Deep Learning models using Python and transformer models like BERT, GPT-2, and XLNet. |
| [**Natural Language Processing in Python for Beginners**](https://bit.ly/intro_nlp) | Learn to build Natural Language Processing Projects using Spacy, NLTK, and Gensim, and transformer models like BERT, GPT-2, and XLNet. |
| [**Deployment of Machine Learning Models in Production in Python**](https://bit.ly/bert_nlp) |  Learn to deploy Machine Learning and Deep Learning models using Python and its libraries like Flask, Streamlit, and NGINX. |
| [**R 4.0 Programming for Data Science - Beginners to Pro**](https://bit.ly/r4-ml) | Learn to build Machine Learning and Deep Learning models using R and its libraries like caret, tidyverse, and keras. |